.clients {
    padding-top: 100px;
    padding-bottom: 45px;
}

.clients__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:768px) {
    .clients {
        img {
            width: 150px;
        }
    }
}

@media (max-width:465px) {
    .clients__row {
        flex-wrap: wrap;
        row-gap: 25px;
    }
}

@media (max-width:320px) {
    .clients {
        padding-top: 28px;
        padding-bottom: 25px;
    }

    .clients__row {
justify-content: center;
    }
}